<template>
  <div class="login">
    <v-container>
      <v-row class="content">
        <v-col cols="12" md="6">
          <img src="/image/mindfulness.svg" alt="Image" class="img-fluid" />
        </v-col>
        <v-col cols="12" md="6">
          <div>
            <h2 class="text-center pb-5">Welcome</h2>
            <v-form ref="form" v-on:submit.prevent>
              <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                @keyup.enter.native="login"
                dense
                outlined
                color="#169e90"
              ></v-text-field>
              <v-text-field
                label="Password"
                v-model="password"
                type="password"
                :rules="passwordRules"
                @keyup.enter.native="login"
                dense
                outlined
                color="#169e90"
              ></v-text-field>
              <p v-if="error" class="red--text caption">
                {{ error }}
              </p>
            </v-form>
            <v-btn @click="login" color="#169e90" dark class="btn-login">Login</v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import { EventBus } from "../event-bus";

export default {
    
  data: () => ({
    email: "",
    password: "",
    error: "",
    passwordRules: [
      v => !!v || "Mohon isi password",
      v => (v && v.length >= 6) || "Password harus lebih dari 6 karakter"
    ],
    emailRules: [
      v => !!v || "Mohon isi email",
      v => /.+@.+/.test(v) || "Email tidak valid"
    ]
  }),
  methods: {
    login() {
      if (this.$refs.form.validate()) {
        document.documentElement.style.overflow = "hidden";

        EventBus.$emit("startLoading");
        axios
          .post(`api/login`, {
            email: this.email,
            password: this.password
          })
          .then(res => {
            EventBus.$emit("stopLoading");
            document.documentElement.style.overflow = "auto";
            this.error = "";
            this.$refs.form.reset();
            localStorage.setItem("token", res.data.data.api_token);
            localStorage.setItem("id", res.data.data.id);
            localStorage.setItem("email", res.data.data.email);
            localStorage.setItem("name", res.data.data.name);
            this.$router.push({ path: "/" });
          })
          .catch(err => {
            this.error = err.response.data.message;
            document.documentElement.style.overflow = "auto";
          });
      }
    }
  }
};
</script>

<style>
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-login {
  background-color: #169e90;
  display: block;
  width: 100%;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 6px;
  color: #fff;
}
</style>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        