<template>
  <div class="nav">
    <v-app-bar color="#169e90" app dense dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app>
      <v-list-item>
        <v-row>
          <v-col sm="12">
            <v-app-bar-title>
              <img src="/image/logo.png" class="img-logo my-3" width="50%" />
            </v-app-bar-title>
          </v-col>
        </v-row>
      </v-list-item>

      <v-list dense nav>
        <v-list-item-group v-model="model" color="#169e90">
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            @click="route(item.path)"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block dark color="#169e90" @click="logout"> Logout </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import axios from "axios";
import { EventBus } from "../event-bus";

export default {
  name: "Dashboard",

  data() {
    return {
      drawer: null,
      model: 1,
      items: [
        {
          icon: "mdi-note",
          text: "Item",
          path: "/",
        },
        {
          icon: "mdi-note",
          text: "Item Category",
          path: "/item-categories",
        },
        {
          icon: "mdi-note",
          text: "Carousel Management",
          path: "/carousel",
        },
      ],
      btnDropdowns: [{ title: "Logout" }],
    };
  },
  methods: {
    route(paths) {
      EventBus.$emit("startLoading");
      this.$router.push({ path: paths });
      EventBus.$emit("stopLoading");
    },
    async logout() {
      const headers = {
        Authorization: "Bearer " + localStorage.getItem("token"),
        "Content-Type": "application/json",
      };
      EventBus.$emit("startLoading");
      document.documentElement.style.overflow = "hidden";
      axios
        .post(`api/logout`, null, { headers: headers })
        .then(() => {
          EventBus.$emit("stopLoading");
          document.documentElement.style.overflow = "auto";
          localStorage.clear();
          this.$router.push({ name: "Login" });
        })
        .catch((err) => {
          this.error = err.response.data.message;
          document.documentElement.style.overflow = "auto";
        });
    },
  },
};
</script>

<style>
.img-logo {
  margin-left: 50px;
}
</style>