<template>
  <v-dialog v-model="show" max-width="500">
    <v-card class="mx-auto">
      <v-img
        class="white--text align-end"
        height="300"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        :src="`storage/${mainDatas.image}`"
      >
        <v-card-title class="text-uppercase">{{ mainDatas.name }}</v-card-title>
        <v-card-subtitle class="text-white"> {{ mainDatas.item_category }} </v-card-subtitle>
      </v-img>

      <div>
        <v-card-subtitle class="float-left"> {{ mainDatas.duration }} Minutes</v-card-subtitle>
        <p class="m-3 float-right txt-price">Rp. {{ mainDatas.price }}</p>
      </div>

      <div class="clear-both"></div>

      <v-card-text class="text--primary">
        <div>{{mainDatas.desc}}</div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey" text @click="show = false"> Back </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ViewItem",
  props: {
    value: Boolean,
    mainDatas: Object
  },
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },

  methods: {},
};
</script>

<style>
.preview-image {
  width: 70%;
}
.txt-price {
  font-weight: 600;
  color: #CE93D8;
}
.clear-both {
  clear: both;
}
</style>
