<template>
  <v-app>
    <div class="app">
      <v-dialog v-model="loading" fullscreen transition="fade-transition">
        <v-container
          fluid
          fill-height
          style="background-color: rgba(255, 255, 255, 0.5)"
        >
          <v-layout justify-center align-center>
            <v-progress-circular
              indeterminate
              color="green lighten-3"
            ></v-progress-circular>
          </v-layout>
        </v-container>
      </v-dialog>
      <router-view></router-view>
    </div>
  </v-app>
</template>

<script>
import { EventBus } from "../event-bus";

export default {
  name: "App",

  components: {
    // Login,
  },

  data: () => ({
    loading: false,
  }),
  created() {
    EventBus.$on("startLoading", () => {
      this.loading = true;
    });
    EventBus.$on("stopLoading", () => {
      setTimeout(() => {
        this.loading = false;
      }, 1000);
    });
  },
};
</script> 

<style>
</style>